gradio==5.49.1
ultralytics
python-dotenv

torch
torchvision
torchaudio

opencv-python-headless
matplotlib
numpy
scipy
scikit-learn
pillow
python-chess
cairosvg
fastapi
uvicorn[standard]
gunicorn
ipykernel